<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>书籍详情</title>
		<link rel="stylesheet" type="text/css" href="web/front/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="web/front/css/book_edit.css"/>
		
		<meta name="Keywords" content="借阅，伴侣，书屋" />
        <meta name="Description" content="这是一个用来做无微不至，借阅伴侣的网站" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">        
     
		<!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
	</head>
	<body onselectstart="return true;" ondragstart="return false;">
	<section class="body">
			<?php echo $msg; ?>
			<section>
				<ul class="list_ul2">
					<li>
						<a href="index1.php?p=front&c=Book&a=show">
							<figure>
								<div>
									<img src="web/front/<?php echo $book_desc['image_w']; ?>" />
								</div>
								<figcaption>
								</figcaption>
							</figure>
                        </a>
                    </li>
				</ul>	
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>书籍编号：<?php echo $book_desc['id']; ?></strong></a>
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>书名：<?php echo $book_desc['name']; ?></strong></a> 	
			</section>     
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>作者：<?php echo $book_desc['author']; ?>著</strong></a>
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>库存：<?php echo $book_desc['kc']; ?></strong></a>
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>出版社：<?php echo $book_desc['press']; ?></strong></a>
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>出版时间：<?php echo $book_desc['publishtime']; ?></strong></a>
			</section>
			<section class="link_tel_center">
				&nbsp;<a style="color:#121619" href=""><strong>图书二维码：<br/></strong></a>
				<?php echo $book_desc['qr_code']; ?>
			</section>
			<section class="link_tel">
				<span style="color:white" class="fa fa-handshake-o"></span>
				&nbsp;<a style="color:white" href="index1.php?p=front&c=Yorder&a=add&id=<?php echo $book_desc['id']; ?>"><strong> 预约</strong></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="color:white" class="fa fa-cart-plus"></span>
				&nbsp;<a style="color:white" href="index1.php?p=front&c=Order&a=add&id=<?php echo $book_desc['id']; ?>"><strong> 加入书栏</strong></a>
			</section>
		
		</section>
		<nav class="top_bar footer_bar" style="-webkit-transform:translate3d(0,0,0)">
				<ul class="top_menu">
					<li>
						<a href="index1.php?p=front&c=Index&a=show">
							<span></span>
						</a>
					</li>
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Classify&a=show" class="fa fa-map-marker"><label > &nbsp;分类</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Order&a=show" class="fa fa-clock-o"><label> &nbsp; 借书栏</label></a>
					</li>
					 
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Horder&a=show" class="fa fa-comments-o"><label> &nbsp; 借书记录</label></a>
					</li>
				</ul>
		
		</nav>
		<footer>
			<br/>
		</footer>
	</body>
</html>
