<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>搜索历史记录</title>
			<!-- http://fontawesome.dashgame.com/ -->
		<link rel="stylesheet" type="text/css" href="web/front/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="web/front/css/home.css"/>
	
		<meta name="Keywords" content="借阅，伴侣，书屋" />
        <meta name="Description" content="这是一个用来做无微不至，借阅伴侣的网站" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">        
     
		<!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
		<section class="body">	
			<?php
			while($mess = mysql_fetch_assoc($result)){
			?>
			<section class="link_tel_left">
				<a style="color:white" href="index1.php?p=front&c=Book&a=h_search&name=<?php echo $mess['str'] ?>"><strong><?php echo $mess['str'] ?></strong></a>
			</section>
			<?php
			}
			?>
		</section>
			
		<nav class="top_bar footer_bar" style="-webkit-transform:translate3d(0,0,0)">
				<ul class="top_menu">
					<li>
						<a href="index1.php?p=front&c=Index&a=show">
							<span></span>
						</a>
					</li>
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Classify&a=show" class="fa fa-map-marker"><label > 分类</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Order&a=show" class="fa fa-clock-o"><label> &nbsp; 借书栏</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=User&a=login" class="fa fa-comments-o"><label> &nbsp; 登录</label></a>
					</li>
				</ul>
		
		</nav>
		<footer>
			<section class="link_tel">
				<span style="color:white" class="fa fa-phone"></span>
				&nbsp;<a style="color:white" href="tel:17843150577"><strong> 咨询电话</strong></a>
			</section>	
		</footer>
	</body>
</html>


