<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>借阅伴侣</title> 
	
			<!-- http://fontawesome.dashgame.com/ -->
		<link rel="stylesheet" type="text/css" href="web/front/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="web/front/css/home.css"/>
	
		<meta name="Keywords" content="借阅，伴侣，书屋" />
        <meta name="Description" content="这是一个用来做无微不至，借阅伴侣的网站" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">        
     
		<!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
		<script type="text/javascript" src="web/front/js/jQuery.js"></script>
		<script type="text/javascript" src="web/front/js/swipe.js"></script>
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
		<section class="body">
			<header style="-webkit-transform:translate3d(0,0,0);">
				<div id="banner_box" class="box_swipe">
					<ul>
						<li>
							<a href="">
								<img src="http://skydancheng.duapp.com/web/front/images/1.jpg" alt="数理科学和化学" style="width:100%;" />
							</a>
						</li>
						<li>
							<a href="">
								<img src="http://skydancheng.duapp.com/web/front/images/2.jpg" alt="历史、地理" style="width:100%;" />
							</a>
						</li>
						<li>
							<a href="">
								<img src="http://skydancheng.duapp.com/web/front/images/3.jpg" alt="工业技术" style="width:100%;" />
							</a>
						</li>
					</ul>

					<ol>
						<li class="on"></li>
						<li ></li>
						<li ></li>	
					</ol>
				</div>
			</header>
					
			<script>
				$(function(){
					new Swipe(document.getElementById('banner_box'), {
						speed:500,
						auto:3000,
						callback: function(){
							var lis = $(this.element).next("ol").children();
							lis.removeClass("on").eq(this.index).addClass("on");
						}
					});
				});
			</script>
			<form class="link_tel_form" action="index1.php?p=front&c=Book&a=search" method="post">
				<tr>
					<td>
						<input style="width:83%; height:28px; border:0px; border-radius:4px; Float:left;" type="text" name="sososo" vaule="" placeholder="搜索图书" />
					</td>
					<td style="text-align:right">
						<input style="width:15%; height:28px; border:0px; background-color:#C8C8C8; border-radius:8px; Float:right;" type="submit" name="submit1" value="搜索" />
					</td>
				</tr>
			</form>

			<section>
				<ul class="list_ul">
					<li><a href="index1.php?p=front&c=History&a=show"><figure><figcaption><p>搜索足迹</p></figcaption></figure></a></li>
					
					<li><a href="index1.php?p=front&c=Yorder&a=findAll"><figure><figcaption><p>预约栏</p></figcaption></figure></a> </li>
					
					<li><a href="index1.php?p=front&c=User&a=qrcode"><figure><figcaption><p>个人二维码</p></figcaption></figure></a></li>
					
					<li><a href="index1.php?p=front&c=User&a=updateUser"><figure><figcaption><p>修改信息</p></figcaption></figure></a></li>
				</ul>	
			</section>
			<section class="link_tel_left">
				<span style="color:white" class="fa fa-reorder"></span>
				&nbsp;<a style="color:white" href=""><strong>分类</strong></a>
			</section>	
			<section>
				<ul class="list_ul1">
					<?php
					$i = 0;
					while($mess = mysql_fetch_assoc($classifys)){
					if($i > 4) break;
					?>
					<li>
						<a href="index1.php?p=front&c=Book&a=classify&classid=<?php echo $mess['id']; ?>">
							<figure>
								<div>
									<img src="web/front/classify_img/<?php echo $mess['id']; ?>.jpg" />
								</div>
								<figcaption>
									<p><?php echo $mess['name']; ?></p>
								</figcaption>
							</figure>
                        </a>
                    </li>
                    <?php
                    $i++;
                    }
                    ?>
					<li><a href="index1.php?p=front&c=Classify&a=show"><figure><div><img src="web/front/images/dian2.jpg" /></div>
						<figcaption><p>更多</p></figcaption></figure></a></li>
					
				</ul>	
			</section>
			
			
			<section class="link_tel_left">
				<span style="color:white" class="fa fa-book"></span>
				&nbsp;<a style="color:white" href=""><strong>推荐书籍</strong></a>
			</section>	

			<section>
				<ul class="list_ul2">
					<?php
					$i = 0;
					while($mess = mysql_fetch_assoc($books)){
					if($i > 5) break;
					?>
					<li>
						<a href="index1.php?p=front&c=Book&a=show&book_id=<?php echo $mess['id']; ?>">
							<figure>
								<div>
									<img src="web/front/<?php echo $mess['image_b']; ?>" />
								</div>
								<figcaption>
								 	<p>作者：<?php echo $mess['author']; ?></p>
								 	<p>库存：<?php echo $mess['kc']; ?></p>
								</figcaption>
							</figure>
                        </a>
                    </li>
                    <?php
                    $i++;
                    }
                    ?>

				</ul>	
			</section>
			
			
			
		</section>
		
		<nav class="top_bar footer_bar" style="-webkit-transform:translate3d(0,0,0)">
				<ul class="top_menu">
					<li>
						<a href="index1.php?p=front&c=Index&a=show">
							<span></span>
						</a>
					</li>
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Classify&a=show" class="fa fa-map-marker"><label > &nbsp;分类</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Order&a=show" class="fa fa-clock-o"><label> &nbsp; 借书栏</label></a>
					</li>
					 
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Horder&a=show" class="fa fa-comments-o"><label> &nbsp; 借书记录</label></a>
					</li>
				</ul>
		
		</nav>
		<footer>
			<section class="link_tel">
				<span style="color:white" class="fa fa-phone"></span>
				&nbsp;<a style="color:white" href="tel:17843150577"><strong> 咨询电话</strong></a>
			</section>	
		</footer>
	</body>
</html>


