<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>借书栏</title>
			<!-- http://fontawesome.dashgame.com/ -->
		<link rel="stylesheet" type="text/css" href="web/front/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="web/front/css/order.css"/>
	
		<meta name="Keywords" content="借阅，伴侣，书屋" />
        <meta name="Description" content="这是一个用来做无微不至，借阅伴侣的网站" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">        
     
		<!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
    </head>
    <body onselectstart="return true;" ondragstart="return false;">

		<section class="body">
		<?php echo $msg; ?>
			<section class="list_ul2">
				<?php 
				$j = 0;
				foreach($books as $mess){
				?>
				<li>
					<form action="index1.php?p=front&c=Order&a=delete&id=<?php echo $ids[$j];  ?>" method="post">
						<figure>
							<div>
								<img src="web/front/<?php echo $mess['image_b']; ?>" />
							</div>
							<figcaption>
								 <p>书名：<?php echo $mess['name']; ?></p>  
								<p>作者：<?php echo $mess['author']; ?></p>
								<input type="submit" class="button" value="删除" /> 
							</figcaption>
						</figure>
                    </form>
                </li>
                <?php
                $j++;
                }
                ?>
				
			</section>
			<section class="link_tel_kong">
				<a href="index1.php?p=front&c=User&a=qrcode"><input type="button" class="button" value="借书" /></a>
			</section>
		</section>
		
		
		
		
		
		<nav class="top_bar footer_bar" style="-webkit-transform:translate3d(0,0,0)">
				<ul class="top_menu">
					<li>
						<a href="index1.php?p=front&c=Index&a=show">
							<span></span>
						</a>
					</li>
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Classify&a=show" class="fa fa-map-marker"><label > &nbsp;分类</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Order&a=show" class="fa fa-clock-o"><label> &nbsp; 借书栏</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=User&a=login" class="fa fa-comments-o"><label> &nbsp; 登录</label></a>
					</li>
				</ul>
		
		</nav>
	</body>
</html>


