<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>通行证验证</title>
	
			<!-- http://fontawesome.dashgame.com/ -->
		<link rel="stylesheet" type="text/css" href="web/front/css/font-awesome.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="web/front/css/home.css"/>
	
		<meta name="Keywords" content="借阅，伴侣，书屋" />
        <meta name="Description" content="这是一个用来做无微不至，借阅伴侣的网站" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">        
     
		<!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
		<section class="body">
			<section class="body">
			<br/>
			<section class="link_tel_kong">
				<?php
					echo $msg;
				?>
			</section>
			<br/><br/>
			<form class="link_tel_form" action="index1.php?p=front&c=User&a=testTxz" method="post">
				<tr>
					<td>
						<input style="width:83%; height:28px; border:0px; border-radius:4px; Float:left;" type="text" name="txz" value="" placeholder="输入通行证" />
					</td>
					<td style="text-align:right">
						<input style="width:15%; height:28px; border:0px; background-color:#C8C8C8; border-radius:8px; Float:right;" type="submit" name="submit1" value="提交" />
					</td>
				</tr>
			</form>
			<section class="link_tel_kong">
				<strong>注：如果通行证丢失，请到公众号平台设置</strong>
			</section>
			<section class="link_tel_kong">
				<strong>格式为：“txz：通行证号”</strong>
			</section>
		</section>
		</section>
		<nav class="top_bar footer_bar" style="-webkit-transform:translate3d(0,0,0)">
				<ul class="top_menu">
					<li>
						<a href="index1.php?p=front&c=Index&a=show">
							<span></span>
						</a>
					</li>
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Classify&a=show" class="fa fa-map-marker"><label > &nbsp;分类</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=Order&a=show" class="fa fa-clock-o"><label> &nbsp; 借书栏</label></a>
					</li>
					
					<li>
						<a style="color:white;line-height:36px;" href="index1.php?p=front&c=User&a=login" class="fa fa-comments-o"><label> &nbsp; 登录</label></a>
					</li>
				</ul>
		
		</nav>
		<footer>
			<br/>
		</footer>
	</body>
</html>


