<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>JLHU_ACM官网</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="dancheng">


	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="public/22vd/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="public/22vd/css/stroke-gap-icons.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="public/22vd/css/font-awesome.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="public/22vd/css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="public/22vd/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="public/22vd/css/responsive.css" media="screen" />





	
 	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/rs-plugin/css/settings.css" media="screen" />-->
	<!--<link rel="stylesheet" href="public/22vd/css/owl.carousel.css">-->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/css/lightbox.min.css" media="all"/>-->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/css/pe-icon-7-stroke.css" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/css/elegant-icons.css" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/css/animate.css" media="screen" />-->
	<!--<link rel="stylesheet" type="text/css" href="public/22vd/css/flexslider.css" media="screen" />-->
	
	<!--<link rel="shortcut icon" href="public/22vd/upload/favicon.ico" type="image/x-icon">-->
	<!--<link rel="icon" href="public/22vd/upload/favicon.ico" type="image/x-icon">-->

</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
	    <div id="status">！！！</div>
	</div>

	<header>
	<!-- Navbar -->
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    	<nav class="navigation">
		      	<div class="container">
			        <div class="navbar-header">
			        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
			        	</button>	        	 
						<!-- Logo -->
						<div class="logo">
				        	<a href="index.php">
				        		<img class="small-logo" src="public/22vd/upload/logo-dark.png" alt="logo">
				          	</a>
			        	</div>         
			        </div> <!-- end navbar-header -->

			        <div class="collapse navbar-collapse" id="navbar-collapse">
			        	<ul class="nav navbar-nav navbar-right">
				          	<li class="dropdown">
				            	<a href="index.php" class="dropdown-toggle" >网站首页</a>
				            </li>

				            <li class="dropdown">
				            	<a href="index.php?p=home&c=resource&a=junpResource" class="dropdown-toggle" data-hover="dropdown">资源共享</a>
				            	<ul class="dropdown-menu sub-menu">
				                	<li><a href="index.php?p=home&c=resource&a=jumpVideo">视频资源</a></li>
				                	<li><a href="index.php?p=home&c=resource&a=jumpNodes">笔记</a></li>
				                	<li><a href="index.php?p=home&c=resource&a=jumpBooks">书籍推荐</a></li>
				          	    </ul>
				            </li>

				            <li class="dropdown">
				            	<a href="index.php?p=home&c=activity&a=jumpActivity" class="dropdown-toggle" data-hover="dropdown">活动广场</a>
				            	<ul class="dropdown-menu sub-menu">
				                	<li><a href="index.php?p=home&c=activity&a=jumpMatch">比赛</a></li>
				                	<li><a href="index.php?p=home&c=activity&a=jumpTrain">培训</a></li>
				                	<li><a href="index.php?p=home&c=activity&a=jumpSituation">最新动态</a></li>
				          	    </ul>
				            </li>
				            <!--<li class="dropdown">
				            	<a href="index.php?p=home&c=word&a=jumpWord" class="dropdown-toggle" data-hover="dropdown" >会员留言</a>
				            </li>-->
				            <li class="dropdown">
				            	<a href="index.php?p=home&c=index&a=jumpOur" class="dropdown-toggle" data-hover="dropdown">关于我们</a>
				            </li>
                            <li class="dropdown">
				            	<a href="index.php?p=home&c=index&a=jumpLink" class="dropdown-toggle" data-hover="dropdown">联系我们</a>
				            </li>	
				            <li class="dropdown">
				            	<a href="index.php?p=home&c=user&a=jumpUser" class="dropdown-toggle" data-hover="dropdown">个人中心</a>
				            	<ul class="dropdown-menu sub-menu">
				                	<li><a href="index.php?p=home&c=user&a=jumpLogin">登录</a></li>
				                	<li><a href="index.php?p=home&c=user&a=jumpJoin">加入我们</a></li>
				                	<li><a href="index.php?p=home&c=user&a=jumpMessage">消息</a></li>
				                	<li><a href="index.php?p=home&c=user&a=jumpBlog">博客</a></li>
				          	    </ul>
				            </li>
			        	</ul> <!-- end menu -->
			        </div> <!-- end collapse -->    
	      		</div> <!-- end container -->
	      	</nav> <!-- end navigation -->
	    </nav> <!-- End Navbar -->
	</header>


	<div class="main-wrapper">

	<!-- 浏览框 -->
		<section>
		<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
			<div class="tp-banner-container clearfix">
				<div class="tp-banner" >
					<ul>
						<!-- SLIDE 1 -->
						<li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
							<!-- MAIN IMAGE -->
							<img src="public/22vd/upload/revolution/slide_1_bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption very_big_white skewfromrightshort fadeout"
								data-x="center"
								data-y="center"
								data-speed="500"
								data-start="1200"
								data-easing="Circ.easeInOut">
								吉林建筑大学ACM协会
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-caption medium_text skewfromrightshort fadeout"
								data-x="center"
								data-y="center"
								data-hoffset="0"
								data-voffset="-73"
								data-speed="500"
								data-start="1200"
								data-easing="Power4.easeOut">
								DEVELOPMENT TEAM: JLJU_ACM 
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption customin tp-resizeme rs-parallaxlevel-0"
								data-x="center"
								data-y="center"
								data-hoffset="0"
								data-voffset="98" 
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-linktoslide="next"
								style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
								<a href="index.php?p=home&c=index&a=jumpOur" class='largebtn'>
									了解详情
								</a>
							</div>					
						</li>

						<!-- SLIDE 2 -->
						<li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
							<!-- MAIN IMAGE -->
							<img src="public/22vd/upload/revolution/slide_2_bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption white_heavy_60 customin ltl tp-resizeme"
								data-x="30"
								data-y="223" 
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="700"
								data-easing="Power4.easeOut"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn"
								style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
								ACM
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption black_thin_blackbg_30 customin ltl tp-resizeme"
								data-x="30"
								data-y="306" 
								data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="1500"
								data-start="1000"
								data-easing="Power4.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn"
								style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
								国际计算机学会
							</div>
							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption tp-caption medium_text customin ltl tp-resizeme"
								data-x="30"
								data-y="353" 
								data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="1500"
								data-start="1300"
								data-easing="Power4.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
								是世界上第一个科学性及教育性计算机学会
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption lfb ltb start tp-resizeme"
								data-x="30"
								data-y="407"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1500"
								data-start="1600"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-linktoslide="next"
								style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
								<a href="https://icpc.baylor.edu/" class='largebtn solid'>
									进入官网
								</a>
							</div>	
						</li>

						<!-- SLIDE 3 -->
						<li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
							<!-- MAIN IMAGE -->
							<img src="public/22vd/upload/revolution/slide_3_bg.jpg" alt="slidebg3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption big_100_white lft start fadeout"
								data-x="center"
								data-y="246"
								data-speed="500"
								data-start="1200"
								data-easing="Circ.easeInOut">
								ACM培训班
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-caption medium_text lfb fadeout"
								data-x="center"
								data-y="350"
								data-speed="500"
								data-start="1200"
								data-easing="Power4.easeOut">
								JLJU_ACM协会从零开始系统全面的教你如何学习算法
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption fade fadeout tp-resizeme"
								data-x="center"
								data-y="407"
								data-hoffset="-100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1500"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-linktoslide="next"
								style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
								<a href="index.php?p=home&c=user&a=jumpJoin" class='largebtn solid'>
									加入我们
								</a>
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption fade fadeout tp-resizeme"
								data-x="center"
								data-y="407"
								data-hoffset="100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1500"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-linktoslide="next"
								style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
								<a href="index.php?p=home&c=activity&a=jumpTrain" class='largebtn'>
									培训活动
								</a>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</section>

		<section class="section-wrap icon-boxes style-3">
			<div class="container">
				<div class="row">

					<div data-wow-delay="0.5s" data-wow-duration="2s" class="col-md-3 col-sm-6 wow fadeIn" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
						<div class="service-item-box first">
							<a href="index.php?p=home&c=resource&a=jumpVideo">
								<i class="hi-icon icon icon-FullScreen"></i>
							</a>
							<h3>视频教程</h3>
							<p>学长们收集的一些教学视频，不单单是数据结构和算法，也包含许多较流行语言的教学视频，比如python、php等。也有黑客的视频~~</p>
							<a href="index.php?p=home&c=resource&a=jumpVideo">点击进入</a>
						</div>
					</div> <!-- end service item -->

					<div data-wow-delay="0.6s" data-wow-duration="2s" class="col-md-3 col-sm-6 wow fadeIn" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
						<div class="service-item-box second">
							<a href="index.php?p=home&c=resource&a=jumpNodes">
								<i class="icon icon-Timer"></i>
							</a>
							<h3>笔记</h3>
							<p>JLJU_ACM协会会员在学习算法时，把算法的笔记上传到官网，供大家浏览<br/><br/><br/></p>
							<a href="index.php?p=home&c=resource&a=jumpNodes">点击进入</a>
						</div>
					</div> <!-- end service item -->

					<div data-wow-delay="0.7s" data-wow-duration="2s" class="col-md-3 col-sm-6 wow fadeIn" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: fadeIn;">
						<div class="service-item-box third">
							<a href="index.php?p=home&c=activity&a=jumpMatch">
								<i class="icon icon-Search"></i>
							</a>
							<h3>比赛活动</h3>
							<p>JLJU_ACM协会每年会举办两次校级的程序设计大赛。参加各类算法比赛：ACM，天梯赛，蓝桥杯等<br /><br /></p>
							<a href="index.php?p=home&c=activity&a=jumpMatch">点击进入</a>
						</div>
					</div> <!-- end service item -->

					<div data-wow-delay="0.8s" data-wow-duration="2s" class="col-md-3 col-sm-6 wow fadeIn" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
						<div class="service-item-box fourth">
							<a href="index.php?p=home&c=activity&a=jumpTrain">
								<i class="icon icon-Blog"></i>
							</a>
							<h3>培训活动</h3>
							<p>JLJU_ACM协会会对每一届大一的学员进行培训，暂定地点在ACM协会办公室：吉林建筑大学实验楼A401<br /><br /></p>
					<!--		创客云专业提供网站模板，网页模板，模板教程，培训视频，网页制作，程序插件，网站素材等建站资源免费下载-->
							<a href="index.php?p=home&c=activity&a=jumpTrain">点击进入</a>
						</div>
					</div> <!-- end service item -->

				</div> <!-- end row -->

			</div> <!-- end container -->
		</section>

		<section class="section-wrap description-accordion">
			<div class="container">
				<div class="row">
					<!-- our principles -->
					<div class="col-sm-6">
						<h3>JLJU_ACM</h3>
						<div class="main-border blue border-left"></div>
						<p class="intro-subheading small">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACM——Association for Computing Machinery，又名ICPC即国际大学生程序设计竞赛。吉林建筑大学ACM协会旨在提高同学们运用计算机知识来分析问题和编程的能力，鼓励更多人的参与、学习计算机编程，扩宽自身知识面，致力于打造一个优秀的计算机编程学习平台。
						</p>
						<p class="intro-subheading small">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从零基础的编程新人开始教你如何提高编程能力，在竞赛和考研时充分发挥编程优势。老师和学长将为大家系统的讲解编程知识，带领大家参加竞赛。遇到不会的知识点，可以互相讨论或及时请教老师。
						</p>
					</div> <!-- end col-->

					<!-- how we work -->
					<div class="col-sm-6 how-we-work">
						<h3>
							培训历程
						</h3>
						<div class="main-border blue border-left"></div>
						<div class="accordion">
							<div class="acc-panel">
								<a href="" class="">第一阶段：学长学姐授课</a>
							</div>
							<div class="panel-content" style="display: none;">
								<p>第一阶段，也是你们大一阶段，这个阶段的你们还不了解什么是编程，什么是真正的算法。这个时候学长和学姐就会传授给你们经验，带你们“入门”。
								</p>
							</div>
							<div class="acc-panel">
								<a href="" class="active">第二阶段：自学阶段</a>
							</div>
							<div class="panel-content" style="display: block;">
								<p>这个阶段应该处于大二上学期这一个时间段，经过了大一一年培训，对于算法有了一点的了解，可以自己去找一些算法学习，甚至可以和学长学姐们进行切磋了。
								</p>
							</div>
							<div class="acc-panel">
								<a href="">第三阶段：继续学习、带领学弟学妹学习</a>
							</div>
							<div class="panel-content" style="display: none;">
								<p>这个阶段应该处于大二下学期这一个时间段，这个时候你对算法已经有了很高层度的见解。可以帮助学长学姐，带着大一的学弟学妹学习了
								</p>
							</div>
						</div> <!-- end accordion -->
					</div> <!-- end col -->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section>




		<!--<iframe src="index.php?p=home&c=index&a=intoVideo" frameborder="0" style="padding: 0px; width: 100%; height: 700px;" id="ifr1"></iframe>-->

		<!-- 开发团队 -->
		<section class="section-wrap our-team bg-light">
			<div class="container">
				<h2 class="text-center">开发团队</h2>
				<p class="subheading text-center">我们致为于打造优秀的资源共享平台</p>
				<div class="main-border blue"></div>

				<ul id="team" class="clearfix">
					<li class="team-member">
						<div class="team-img">
							<img style="height: 340px" src="public/22vd/upload/team_member_4.jpg" alt="team member 4">
						</div>
						<div class="team-details text-center">
							<h5 class="team-title">张丹成</h5>
							<span>ACM协会会长</span>
							<div class="team-socials">
								需求分析、网站架构设计<br/>统一代码规范
							</div>
						</div>
					</li> <!-- end team member -->
					<li class="team-member">
						<div class="team-img">
							<img style="height: 340px" src="public/22vd/upload/team_member_1.jpg" alt="team member 1">
						</div>
						<div class="team-details text-center">
							<h5 class="team-title">吴欣怡</h5>
							<span>ACM协会秘书处长</span>
							<div class="team-socials">
								图片剪辑，前端设计，编码<br/><br/>
							</div>
						</div>
					</li> <!-- end team member -->

					<li class="team-member">
						<div class="team-img">
							<img style="height: 340px" src="public/22vd/upload/team_member_2.jpg" alt="team member 2">
						</div>
						<div class="team-details text-center">
							<h5 class="team-title">胡彪</h5>
							<span>ACM协会外联部部长</span>
							<div class="team-socials">
								视频制作，编码<br/><br/>
							</div>
						</div>
					</li> <!-- end team member -->

					<li class="team-member">
						<div class="team-img">
							<img style="height: 340px" src="public/22vd/upload/team_member_3.jpg" alt="team member 3">
						</div>
						<div class="team-details text-center">
							<h5 class="team-title">--</h5>
							<span>ACM协会干事</span>
							<div class="team-socials">
								资料编写，后期测试，网站运维<br/><br/>
							</div>
						</div>
					</li> <!-- end team member -->
				</ul>
			</div> <!-- end container -->
		</section> <!-- end our team -->

		<section class="partners-light">
			<div class="container">
				<div class="row">

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="https://www.patest.cn/">
							<img alt="partner logo 1" src="public/22vd/upload/partner_logo_dark_1.png">
						</a>
					</div> <!-- end first logo -->

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="http://ac.jobdu.com/">
							<img alt="partner logo 2" src="public/22vd/upload/partner_logo_dark_2.png">
						</a>
					</div> <!-- end second logo -->

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="http://acm.nyist.net/JudgeOnline/problemset.php">
							<img alt="partner logo 3" src="public/22vd/upload/partner_logo_dark_3.png">
						</a>
					</div> <!-- end third logo -->

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="http://acm.hdu.edu.cn/ ">
							<img alt="partner logo 4" src="public/22vd/upload/partner_logo_dark_4.png">
						</a>
					</div> <!-- end fourth logo -->

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="https://icpc.baylor.edu/">
							<img alt="partner logo 5" src="public/22vd/upload/partner_logo_dark_5.png">
						</a>
					</div> <!-- end fifth logo -->

					<div class="col-md-2 col-sm-4 col-xs-6">
						<a href="#">
							<img alt="partner logo 6" src="public/22vd/upload/partner_logo_dark_6.png">
						</a>
					</div> <!-- end last logo -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</section>

		<!-- Footer -->
		<footer id="footer">
		<!-- end container -->
			<div class="bottom-footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="copyright">
								Copyright &copy; <a style="color: rgb(16, 183, 47);" href="javascript:if(confirm(''))window.location='index.php'">JLLU_ACM</a> 版权所有
							</div>
						</div> <!-- end col -->
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end bottom footer -->
		</footer> 
        

		<div id="back-to-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</div>

        <!-- end footer -->

	</div> <!-- end main-wrapper -->
	

	<!-- jQuery Scripts -->
	<script src="public/22vd/js/jquery.min.js"></script>
	<!-- 头菜单控制 -->
	<script type="text/javascript" src="public/22vd/js/bootstrap-hover-dropdown.min.js" ></script>
	<!-- 浏览框   选择下拉框 -->
	<script type="text/javascript" src="public/22vd/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="public/22vd/js/jquery.appear.js"></script>
	<script type="text/javascript" src="public/22vd/js/plugins-scroll.js"></script>
	<script src="public/22vd/js/wow.min.js"></script>
	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script type="text/javascript" src="public/22vd/rs-plugin/js/jquery.themepunch.tools.min.js" ></script>
	<script type="text/javascript" src="public/22vd/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="public/22vd/js/scripts.js"></script>
	<!-- Revolution Slider -->
	<script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.tp-banner').revolution(
                {
                    delay:9000,
                    startwidth:1170,
                    startheight:680,
                    hideThumbs:10,

                    navigationType:"bullet",
                    navigationStyle:"preview1",

                    hideArrowsOnMobile:"on",

                    touchenabled:"on",
                    onHoverStop:"on",
                    spinner:"spinner4"
                });
        });
	</script>
 	<!--<script type="text/javascript" src="public/22vd/js/lightbox.min.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/bootstrap.min.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/jquery.countTo.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/isotope.pkgd.min.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/jquery.easing.min.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/jquery.easypiechart.min.js" ></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/jquery.flexslider-min.js"></script>-->
	<!--<script type="text/javascript" src="public/22vd/js/imagesloaded.pkgd.min.js" ></script>-->

</body>
</html>
