<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.workover.system.mapper.LogsMapper" >
  <resultMap id="BaseResultMap" type="com.ky.workover.system.model.Log" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPERATION_CODE" property="operationCode" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="OS" property="os" jdbcType="VARCHAR" />
    <result column="BROWSER" property="browser" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="MAC" property="mac" jdbcType="VARCHAR" />
    <result column="EXECUTE_TIME" property="executeTime" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="REQUEST_PARAM" property="requestParam" jdbcType="VARCHAR" />
    <result column="sys_type" property="sysType" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPERATION_CODE, CREATER, CREATE_DATE, TYPE, OS, BROWSER, IP, MAC, EXECUTE_TIME, 
    DESCRIPTION, REQUEST_PARAM, sys_type, enterprise_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteLog" parameterType="java.lang.Integer" >
    delete from log
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertLog" parameterType="com.ky.workover.system.model.Log" >
    insert into log (ID, OPERATION_CODE, CREATER, 
      CREATE_DATE, TYPE, OS, 
      BROWSER, IP, MAC, EXECUTE_TIME, 
      DESCRIPTION, REQUEST_PARAM, sys_type, 
      enterprise_id)
    values (#{id,jdbcType=INTEGER}, #{operationCode,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{os,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{executeTime,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{requestParam,jdbcType=VARCHAR}, #{sysType,jdbcType=INTEGER}, 
      #{enterpriseId,jdbcType=INTEGER})
  </insert>

  <delete id="deleteBatch" parameterType="java.util.List">
    DELETE FROM
    log
    WHERE ID=
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER})
    </foreach>
  </delete>

  <select id="searchAll" resultMap="BaseResultMap" parameterType="com.ky.workover.system.model.Log" >
    select
    <include refid="Base_Column_List" />

    from log where 1=1
    <if test="id != null" >
      AND ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="operationCode != null" >
      AND OPERATION_CODE = #{operationCode,jdbcType=VARCHAR}
    </if>
    <if test="creater != null" >
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="createDate != null" >
      AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="type != null" >
      AND TYPE = #{type,jdbcType=INTEGER}
    </if>
    <if test="os != null" >
      AND OS = #{os,jdbcType=VARCHAR}
    </if>
    <if test="browser != null" >
      AND BROWSER = #{browser,jdbcType=VARCHAR}
    </if>
    <if test="ip != null" >
      AND IP = #{ip,jdbcType=VARCHAR}
    </if>
    <if test="mac != null" >
      AND MAC = #{mac,jdbcType=VARCHAR}
    </if>
    <if test="executeTime != null" >
      AND EXECUTE_TIME = #{executeTime,jdbcType=INTEGER}
    </if>
    <if test="description != null" >
      AND DESCRIPTION = #{description,jdbcType=VARCHAR}
    </if>
    <if test="requestParam != null" >
      AND REQUEST_PARAM = #{requestParam,jdbcType=VARCHAR}
    </if>
    <if test="sysType != null" >
      AND sys_type = #{sysType,jdbcType=INTEGER}
    </if>
    <if test="enterpriseId != null" >
      AND enterprise_id = #{enterpriseId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>