<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv=content-type content="text/html; charset=utf-8" />
        <link href="../../../Application/Admin/Public/css/admin.css" type="text/css" rel="stylesheet" />
        <script language=javascript>
            function expand(el)
            {
                childobj = document.getElementById("child" + el);

                if (childobj.style.display == 'none')
                {
                    childobj.style.display = 'block';
                }
                else
                {
                    childobj.style.display = 'none';
                }
                return;
            }
        </script>
    </head>
    <body>
        <table height="100%" cellspacing=0 cellpadding=0 width=170 
               background=../../../Application/Admin/Public/img/menu_bg.jpg border=0>
            <tr>
                <td valign=top align=middle>
                    <table cellspacing=0 cellpadding=0 width="100%" border=0>
                        <tr>
                            <td height=10></td>
                        </tr>
                    </table>

                    <volist name="info1" id="vo1">

                    <table cellspacing=0 cellpadding=0 width=150 border=0>
                        <tr height=22>
                            <td style="padding-left: 30px" background=../../../Application/Admin/Public/img/menu_bt.jpg><a
                                    class=menuparent onclick=expand({$vo1.auth_id})
                                    href="javascript:void(0);">{$vo1.auth_name}</a>
                            </td>
                        </tr>
                        <tr height=4>
                            <td></td>
                        </tr>
                    </table>
                        <table id=child{$vo1.auth_id} style="display: none" cellspacing=0 cellpadding=0
                               width=150 border=0>
                        <volist name="info2" id="vo2">
                            <if condition="$vo2['auth_pid'] eq $vo1['auth_id']">
                            <tr height=20>
                                <td align=middle width=30><img height=9
                                                               src="../../../Application/Admin/Public/img/menu_icon.gif" width=9></td>
                                <td><a class=menuchild
                                       href="__MODULE__/{$vo2.auth_c}/{$vo2.auth_a}"
                                       target=main>{$vo2.auth_name}</a>
                                </td>
                            </tr>
                            </if>
                        </volist>
                            <tr height=4>
                                <td colspan=2></td>
                            </tr>
                        </table>
                    </volist>




                    </td>
                <td width=1 bgcolor=#d1e6f7></td>
            </tr>
        </table>
    </body>
</html>